<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/dashboard">{{appCtrl.getAppFullTitle()}}</a>
		</div><div id="navbar" class="navbar-collapse collapse">
			<form ng-if='!appCtrl.isLogado()' novalidate name="loginForm" class="navbar-form navbar-right" ng-submit="appCtrl.login()">
				<div class="form-group">
					<input type="text" placeholder="Usuário" class="form-control" required ng-model="appCtrl.usuarioLogin">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Senha" class="form-control" required ng-model="appCtrl.senhaLogin">
				</div>
				<button type="submit" class="btn btn-success" ng-disabled='!loginForm.$valid'>Acessar</button>
			</form>
			<div ng-if='appCtrl.isLogado()' class="navbar-right">
				<form novalidate name="logoutForm" class="navbar-form">
					<a>Olá {{appCtrl.getUserName()}}</a>
					<button ng-click='appCtrl.logout()' class="btn btn-success">Sair</button>
				</form>
			</div>
		</div>
	</div>
</nav>
